
     

.nav-link{color:#03e9f4;
        font-size: 17px;
        padding: 5px 20px;
        border-radius: 5px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4px; }
      
      
      h1{font-size: 35px;}
        .nav-link:hover{color:#050801;
                       background:#60989b;             
      }                  

.video-games{min-width: 100%;
            }              

.imagen-1{width: 100%;
         }  

.titulo-3{width: 100%;
       float: left;
       }

       
.titulo-2{color: rgb(76, 250, 41);
         text-shadow: 0 0 20px #161316;
         font-size: 40px;
        text-align: center;}  
         
.contenedor-1{
            width: 100%;
            background-image: url(/img/fondo-6.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            }
            
.container-1{width: 100%;
            flex-wrap: wrap;
            display:flex;
           justify-content:center ; }



.h3{color: whitesmoke;}

.contenedor-2{width: 100%;
             height: 420px;
             margin-top: 200px;
             display: flex;
             }

.titulo-4{float: left;
         color: whitesmoke;
         width: 100%;
         margin-top: 0px;
         text-align: center;}

.tarjeta-1
         {
          width: 250px;
         border-radius: 2rem;
       
          overflow: hidden;
          backdrop-filter: blur(1rem);
          margin: 20px 20px 60px 20px;
          box-shadow: 0px 1px 10px rgba(244, 248, 248, 0.911);
          /* transition: all 0.2s ease-in-out; */
          transition: all 400ms case;
          cursor: pointer;
          border: .1rem solid rgba(236, 50, 205, 0.18);
          color: var(--white-text);
       }

.tarjeta-1:hover{
        
       /* box-shadow: 5px 5px 20px rgba(0, 0,0, 0.4); */
       box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
       /* transform: translateY(-3px); */
                 transform: translateY(-3%);
                 }

                

p{color: white;
font-size: 20px;
padding:10px 0px 0px 10px;

}
h3{color: #f032d0; padding: 5px 10px;}

.texto-tarjetas{display: block;}
          
.img-1
 {width: 250px;} 
  

.pie{width: 100%;
    height: 300px;
    background-image: url(/img/fondo.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    display: flex;}
    
.contenedor-4{width: 100%;
       height: 100px;
       background-color: rgb(56, 49, 49);} 
       
.compra{color: aliceblue;
       font-size: 30px;
       text-align: center;
       padding: 25px;
       cursor: pointer;} 
       
.contenedor-4 :hover{background-color: #f032d0;} 

.datos{width: 100%;
       height: 350px;
       background-color: rgb(124, 112, 112);} 

.datos-1{display: flex;
       justify-content: center;
       } 

input,textarea{width: 600px;
   
    display: block;
  
    border-radius: 5px;
    box-sizing: border-box;
   
    }
.contacto{width: 100%;
        
        background-image: url(/img/fondo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;}

.subtitulo-1{width: 100%;
            height: 50px;
          
            text-align: center;
            padding: 5px;} 
            
h6{color: beige;
   font-size: 25px;} 

   
.social {position: fixed;
       left: -35px;
       top: 300px;
       z-index: 200px;} 
        
.social ul {list-style: none;
          } 
          
         
          
.social ul li a {display: inline-block;
               color: #ffff;
               background: #000;
               padding: 10px 15px;
               text-decoration: none;
               transition: 1s;}  
               
               .social ul li .icon-facebook{background-color:#3b5998 ;}
               .social ul li .icon-instagram{background-color:rgb(226, 43, 180) ;}
               .social ul li .icon-twitter{background-color:#00abf0;}
               .social ul li .icon-google-plus2{background-color:#d95232  ;}
               .social ul li .icon-envelop{background-color:#666666 ;}

               .social ul li a:hover{
                                     padding: 10px 30px;
                                     background: black;}

.nosotros{width: 50%;}



.informacion{width: 50%;}

.sobre{
       text-align: center;
       padding: 10px;
       margin-top: 10px;}
       
.sobre2{
       text-align: left;
       padding: 10px 50px;}


       
h5{color: rgb(16, 241, 129);
 font-size: 30px;}

.sobre4{justify-content: center;}

.informacion1{
             text-align: center;
             margin-top: 10px;
             padding: 10px;}

.informacion2{
       text-align: center;
      } 
       
@media all and (min-width: 600px) and (max-width: 1023px)
{
                          
       .video-games{max-width: 100%;
                    margin-top: 0;}              
       
       .imagen-1{
                 width: 100%;
              
               } 
       
       .tarjeta-1
                 {
                  width: 150px;
                  overflow: hidden;
                  margin: 10px 10px 40px 10px ;
                  border-radius: 1rem;
                  box-shadow: 0px 1px 10px rgba(244, 248, 248, 0.911);
                  } 
                  
                  .titulo-3{width: 100%;
                       margin-top: 10px;
                       float: left;
                       }          
       .img-1
         {width:150px;
          height:150px ;} 
            
       .contenedor-4{
              margin-top: 0;
               padding: 0 0 0 0 ;} 
       
        .datos{width: 100%;
               height: 310px;
               background-color: rgb(124, 112, 112);} 
       
       .datos-1{display: flex;
              
               justify-content: center;
               }             
       
       input,textarea{width: 400px;
                                   }
                  
       .nosotros{width:300px;
                 height: 180px;
                 }   
       
                    
                    .contenedor-2{width: 100%;
                       height: 350px;
                       margin-top: 200px;
                       display: flex;
                       }

                       .contenedor-3{width: 100%;
                               height: 360px;
                               margin-top: 0px;
                               float: left;
                               display: flex;}

                    .container-1{width: 100%;
                      justify-content: center;
                       display:flex;
                       }
 
       
       .sobre{width: 250px;
               height: 50px;
              
               text-align: center;
               padding: 10px;
               margin-top: 0px;}
               
       .sobre2{width: 300px;
                 height: 200px;
               
               text-align: left;
               padding: 15px 5px;}

       .sobre3 {font-size: 18px;
                color:rgb(248, 246, 246);
                }
                p{color: azure;
                       font-size: 15px;
                      }
               
       h5{color: rgb(16, 241, 129);
         font-size: 20px;}
       
       .lista{ width: 300px;
               height: 200px;
               margin-top: 20px;}
       
       .lista ul li{list-style: none;}
       
       .lista ul li a{text-decoration: none;
                      color:#ffff;
                      font-size: 13px;}
       
       .informacion1{width: 100px;
                     height: 50px;
                     text-align: center;
                     margin-bottom: 0px;
                     padding: 0 20px;
                      }
       
       .informacion2{width: 300px;
                     height: 170px;
                     padding: 0;
                     margin-top: 0px;}              
             
             .servicios{width: 200px;
                        margin-left: 10px;
                        height: 180px;
                        }
             
             .informacion{width: 350px;
                          height: 250px;
                          margin-left: 100px;
                          margin-top: 0px;
                          }
             
             .sobre{width: 200px;
                    margin-left: 50px;
                     height: 50px;
                     text-align: center;
                     padding: 10px;
                     margin-top: 0px;}
                     
             .sobre2{width: 250px;
                     margin-left: 50px;
                       height: 200px;
                     margin-top: 0;
                     margin-bottom: 0;
                     text-align: left;
                     padding: 0px 0px;}

             .sobre4 {color: rgb(250, 243, 243);
                      padding: 0;
                      padding-right: 100px;
               font-size: 18px;}

               .contacto{width: 100%;
                       height: 260px;
                       background-image: url(/img/fondo.png);
                       background-position: center;
                       background-repeat: no-repeat;
                       background-size: cover;
                       display: flex;} 
             
                            .contacto{width: 100%;
                               height: 300px;
                               background-image: url(/img/fondo.png);
                               background-position: center;
                               background-repeat: no-repeat;
                               background-size: cover;
                               display: flex;}            
                     
}     
@media all and (max-width:599px)

{          
.titulo{width: 100%;
       display: flex;
       justify-content: space-between;
       background-color: #000;
        position: fixed;
}          
       
       .video-games{width: 100%;
                    height: 250px;}              
       
       .imagen-1{width: 100%;
               margin-top: 0px;
               padding-top: 0px;
               margin-bottom: 0;
                 height: 200px;
               }  
       
       .titulo-3{width: 100%;
               height: auto;
               margin-top: 10px;
               float: left;
               }
                 
       .imagen{width: 100%;
               border-radius: 20px;
               height: 700px;} 
               
       .titulo-2{color: rgb(241, 163, 228);
                 text-shadow: 0 0 20px #ecb8e4;
                 margin-top: 10px;
                 font-size: 20px;
               }  
                 
       .contenedor-1{
                    width: 100%;
                    height: auto;
                    margin-top: 0;
                    background-image: url(/img/fondo-6.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    }
       .h3{color: whitesmoke;}
       
       .contenedor-2{width: 100%;
                     height: 600px;
                     margin-top: 0px;
                     display:block;
               }
       
       .titulo-4{float: left;
                 color: whitesmoke;
                 width: 100%;
                 height:40px ;
                 
                 padding: auto;
                 margin-top: 0px;
                 text-align: center;}
       
       .tarjeta-1
                 {
                  width: 150px;
                  margin: 15px 5px 30px 15px;
                  border-radius: 1rem;
                  overflow: hidden;
                  box-shadow: 0px 1px 10px rgba(244, 248, 248, 0.911);
                  transition: all 400ms case;
                  cursor: pointer;}
       
        .tarjeta-1:hover{box-shadow: 5px 5px 20px rgba(0, 0,0, 0.4);
                         transform: translateY(-4%);
                         }
       
       p{color: azure;
         font-size: 15px;      
       padding: 0 5px;}
       
       
       
       
                  
       .img-1
         {width:150px;
          height:150px ;} 
          
          .contenedor-3{width: 100%;
                        height: 600px;
                       margin-top: 120px;
                        margin-bottom: 0px;
                        display: block;
                        }

                        .container-1{width: 100%;
                               height: auto;
                               display:flex;
                               justify-content: center;
                               flex-wrap: wrap;
                                }

            
       .contenedor-4{width: 100%;
               margin-top: 0px;
             
               background-color: rgb(56, 49, 49);} 
               
       .compra{
               font-size: 20px;
               text-align: center;
               } 
               
       
        .datos{width: 100%;
               height: 350px;
              margin-top: 0px; } 
       
       .datos-1{display: flex;
              justify-content: center;
             
               }             
       
       input,textarea{width: 300px;
            padding: 5px;
          
            }
       .contacto{width: 100%;
               height: auto;
               display: block;
               justify-content: flex-start;
           }
       
       .subtitulo-1{width: 100%;
                    height: 50px;
                    text-align: center;
                    padding: 5px;} 
                    
       h6{color: beige;
           font-size: 25px;} 
       
           
       .social {position: fixed;
               left: -30px;
               top: 330px;
               z-index: 200px;} 
                
       .social ul {list-style: none;
                  } 
                  
                 
                  
       .social ul li a {display: inline-block;
                       color: #ffff;
                       background: #000;
                       padding: 10px 10px;
                       text-decoration: none;
                       transition: 1s;}  
                       
                       .social ul li .icon-facebook{background-color:#3b5998 ;}
                       .social ul li .icon-instagram{background-color:rgb(226, 43, 180) ;}
                       .social ul li .icon-twitter{background-color:#00abf0;}
                       .social ul li .icon-google-plus2{background-color:#d95232  ;}
                       .social ul li .icon-envelop{background-color:#666666 ;}
       
                       .social ul li a:hover{
                                             padding: 10px 20px;
                                             background: black;}
       
       .nosotros{width: 100%;
               
                 }
       
       .informacion{width: 100%;
                   }
       
       .sobre{width: 100%;
               display: flex;
               justify-content: flex-start;
            padding: 0 0 0 40px; }
               
       .sobre2{width: 100%;
           padding: 0 0 0 40px;
                }

       .sobre4{width: 100%;
              display: flex;
              justify-content: flex-start;
          }
               
       h5{color: rgb(16, 241, 129);
         font-size: 25px;}
       
     .contenido-1{display: flex;
                  justify-content: flex-start;
                  padding: 0 0 0 10px;}
       
    
       
       .informacion1{width: 100%;
                     display: flex;
                     justify-content: flex-start;
                     padding: 0 0 0 50px; }
       
       .informacion2{width: 100%;
          } 
   
      
}/*fin de media*/